@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Gilroy-Regular.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Gilroy-Medium.woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy-SemiBold.woff");
}
@font-face {
  font-family: "DotGothic16";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DotGothic16-Regular.woff");
}
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  background: #031923;
}

.container {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "DotGothic16", sans-serif;
  font-size: 58px;
  line-height: 1.4;
  letter-spacing: -0.25em;
}

.logo {
  width: 194px;
  height: 112px;
}

.header {
  background-color: #031923;
  height: 112px;
}
.header__nav {
  display: flex;
}
.header__logo {
  margin-right: auto;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item + .header__item {
  margin-left: 48px;
}
.header__link {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  transition: all 0.5s;
}
.header__link:hover {
  color: #00FFA3;
  font-weight: 600;
  font-size: 22px;
}

.hero {
  background: url(../images/hero/bg-decor.svg), url(../images/hero/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  height: 912px;
}
.hero__title {
  margin-bottom: 20px;
}
.hero__text {
  margin-bottom: 34px;
  max-width: 634px;
  text-align: center;
}
.hero__btn {
  margin-bottom: 38px;
}

.btn {
  width: 286px;
  height: 59px;
  background: linear-gradient(180deg, #00D8A4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  color: #fff;
  border-radius: 20px 4px;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.carts {
  background: url(../images/carts/bg-decor.svg), #031923;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
  margin-bottom: 36px;
}
.carts__box {
  background-image: url(../images/hero/bg-decor.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 87%;
  height: 300px;
  width: 100%;
  position: absolute;
}
.carts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.carts__phantom-title {
  font-family: "DotGothic16";
  font-size: 144px;
  opacity: 0.1;
}
.carts__title {
  padding-left: 232px;
  position: relative;
}
.carts__title:before {
  content: "";
  width: 220px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 15px;
}
.carts__decor {
  font-family: "Gilroy";
  letter-spacing: 0.25em;
  font-size: 18px;
  opacity: 0.7;
  position: absolute;
  left: -153px;
  bottom: 8px;
}
.carts__img img {
  pointer-events: none;
}
.carts__slide-title {
  color: #fff;
  font-family: "DotGothic16";
  font-size: 36px;
  line-height: 1.47;
  letter-spacing: -0.25em;
  text-align: center;
}
.carts__slide-model {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin: 23px 0;
}
.carts__slide-descr {
  color: #fff;
  max-width: 630px;
}
.carts__slide {
  height: 700px;
}
.carts__slide-box {
  text-align: right;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.carts .swiper-slide-active .carts__slide-title {
  text-align: right;
}
.carts .swiper-slide-active .carts__img {
  position: relative;
}
.carts .swiper-slide-active .carts__img img {
  transform: scale(1.35);
}
.carts .swiper-slide-active .carts__img:before {
  content: "";
  background-image: url(../images/carts/slider/cart-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 650px;
  height: 650px;
  z-index: -1;
  top: 20%;
  left: -20%;
}
.carts .swiper-slide-active .carts__slide-box {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
}

.booking {
  background: url("../images/booking/bg-decor.svg"), url("../images/booking/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 184px;
}
.booking__inner, .booking__content {
  color: #fff;
}
.booking__content {
  display: flex;
  align-items: flex-end;
}
.booking__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking__title {
  padding-right: 228px;
  display: inline-block;
  position: relative;
}
.booking__title:before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 15px;
}
.booking__decor {
  font-family: "Gilroy";
  letter-spacing: 0.25em;
  font-size: 18px;
  opacity: 0.7;
  position: absolute;
  right: -138px;
  bottom: 5px;
}
.booking__phantom-title {
  display: inline-block;
  font-family: "DotGothic16";
  font-size: 144px;
  opacity: 0.1;
}
.booking__text {
  margin-bottom: 30px;
  color: #fff;
}
.booking__text p + p {
  margin-top: 20px;
}
.booking__info-box {
  display: flex;
  justify-content: space-between;
  max-width: 448px;
}
.booking__box {
  display: flex;
  max-width: 524px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.booking__num {
  display: block;
  font-family: "Gilroy";
  font-size: 40px;
  line-height: 1.2;
  color: #00FFA3;
  margin-bottom: 10px;
}
.booking__btn {
  margin-left: 172px;
}

.features-contacts {
  background: url("../images/features/bg-decor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features {
  padding-bottom: 85px;
}
.features__inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.features__phantom-title {
  font-family: "DotGothic16";
  font-size: 144px;
  opacity: 0.1;
}
.features__title {
  padding-left: 205px;
  position: relative;
}
.features__title:before {
  content: "";
  width: 190px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 15px;
}
.features__decor {
  font-family: "Gilroy";
  letter-spacing: 0.25em;
  font-size: 18px;
  opacity: 0.7;
  position: absolute;
  left: -170px;
  bottom: 8px;
}
.features__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  gap: 46px 50px;
}
.features__item {
  background: #031822;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
  border-radius: 16px;
  width: 513px;
  height: 178px;
  padding: 37px 37px 45px;
  border: 2px solid #00D8A4;
  display: flex;
}
.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 96px;
  filter: drop-shadow(6px 6px 17px rgba(3, 23, 32, 0.46));
  border-radius: 20px 4px;
  border: 2px solid #009470;
  margin-right: 28px;
}
.features__img img {
  max-width: 64px;
  max-height: 64px;
}
.features__item-box {
  color: #fff;
}
.features__name {
  margin-bottom: 20px;
}
.features__text {
  max-width: 329px;
  font-family: "Gilroy";
  font-size: 14px;
  opacity: 0.5;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
  position: relative;
}
.contacts__content {
  margin-right: 15px;
}
.contacts__title-box {
  color: #fff;
  margin-bottom: 40px;
}
.contacts__title {
  padding-right: 240px;
  display: inline-block;
  position: relative;
}
.contacts__title:before {
  content: "";
  width: 220px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 15px;
}
.contacts__decor {
  font-family: "Gilroy";
  letter-spacing: 0.25em;
  font-size: 18px;
  opacity: 0.7;
  position: absolute;
  right: -138px;
  bottom: 10px;
}
.contacts__phantom-title {
  display: inline-block;
  font-family: "DotGothic16";
  font-size: 144px;
  opacity: 0.1;
  position: absolute;
  right: 0;
}
.contacts__info {
  color: #fff;
  margin-bottom: 47px;
  font-size: 18px;
}
.contacts__address {
  margin-bottom: 20px;
}
.contacts__address span {
  display: block;
  color: #00FFA3;
}
.contacts__phone {
  color: #fff;
  margin-bottom: 12px;
}
.contacts__mail {
  color: #fff;
  margin-bottom: 12px;
}
.contacts__map {
  max-width: 874px;
  max-height: 411px;
  height: 100%;
}

.footer {
  background: url("../images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 95px;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__item + .footer__item {
  margin-left: 48px;
}
.footer__link {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  transition: all 0.5s;
}
.footer__link:hover {
  color: #00FFA3;
  font-weight: 600;
  font-size: 22px;
}
.footer__text {
  color: #FFF;
  opacity: 0.6;
  max-width: 435px;
  margin-bottom: 28px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  display: flex;
  gap: 35px;
}
.footer__social-link {
  transition: all 0.3s;
}
.footer__social-link:hover {
  transform: scale(1.1);
}
.footer__copy {
  color: #00FFA3;
  font-size: 16px;
}

/* BURGER MENU STYLES */
.no-scroll {
  overflow-y: hidden;
}

/* IF HEADER FIXED */
.header {
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 14;
  /* ACTIVE HEADER STYLE */
}
.header--active {
  transition: all 0.3s ease-out;
}
.header--active .header__logo {
  transition: all 0.3s ease-out;
}

/* BTN NAV  STYLES*/
.nav-btn {
  position: relative;
  z-index: 14;
  display: none;
  height: 30px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
}

.nav-btn-icon {
  position: relative;
  display: block;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 20px;
  transition: all 0.3 ease-out;
}
.nav-btn-icon::before, .nav-btn-icon::after {
  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.nav-btn-icon::before {
  top: -7px;
}
.nav-btn-icon::after {
  bottom: -7px;
}

/* NAv Close */
.nav-btn-close .nav-btn-icon {
  background-color: transparent;
}
.nav-btn-close .nav-btn-icon::before {
  transform: rotate(-45deg);
  top: 0;
  left: 0px;
}
.nav-btn-close .nav-btn-icon::after {
  transform: rotate(45deg);
  top: 0;
  left: 0px;
}

/* //BTN NAV  STYLES*/
/* burger menu */
.mobile-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  max-width: 100%;
  max-height: 0;
  width: 100%;
  height: 100%;
  padding: 40px 15px 50px;
  background-color: #031923;
  overflow: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.4s ease-out;
}

.mobile-nav .mobile-nav__item ul li {
  list-style-type: none;
  margin: 0;
}

.mobile-nav__item ul li a {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 26px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-out;
}
.mobile-nav__item ul li a svg {
  fill: #fff;
}

.mobile-nav__item ul {
  text-align: center;
}
.mobile-nav__item ul li.dropdown > .dropdown-content li {
  border: none;
}

@media (max-width: 1380px) {
  .header__list {
    display: none;
  }

  .nav-btn {
    display: block;
    top: 40px;
  }

  .mobile-nav-active {
    display: flex;
    max-height: 100%;
    visibility: visible;
    justify-content: center;
    padding-top: 100px;
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 1640px) {
  .contacts__map iframe {
    width: 730px;
    height: 400px;
  }
}
@media (max-width: 1500px) {
  .booking__phantom-title {
    font-size: 100px;
  }

  .features__phantom-title {
    font-size: 100px;
  }

  .contacts__title {
    padding-right: 205px;
  }
  .contacts__title:before {
    width: 190px;
  }
  .contacts__map iframe {
    width: 570px;
    height: 400px;
  }
}
@media (max-width: 1380px) {
  .header__link:hover {
    font-size: 30px;
  }

  .carts .swiper-slide-active .carts__img:before {
    top: 1%;
    left: -43%;
  }

  .booking__phantom-title,
.features__phantom-title {
    font-size: 70px;
  }

  .contacts__title {
    padding-right: 140px;
  }
  .contacts__title:before {
    width: 120px;
  }
  .contacts__phantom-title {
    font-size: 100px;
  }
  .contacts__map iframe {
    width: 570px;
    height: 400px;
  }
}
@media (max-width: 1270px) {
  .title {
    font-size: 40px;
  }

  .carts__box {
    background: none;
  }

  .hero__inner {
    height: 750px;
  }
}
@media (max-width: 1150px) {
  .carts .swiper-slide-active .carts__img:before {
    top: 20%;
    left: -27%;
  }

  .carts__phantom-title {
    font-size: 94px;
  }

  .carts__title {
    padding-left: 195px;
  }
  .carts__title:before {
    content: "";
    width: 180px;
    left: 0;
    bottom: 15px;
  }

  .booking__title {
    padding-right: 120px;
    display: inline-block;
    position: relative;
  }
  .booking__title:before {
    width: 100px;
  }
  .booking__decor {
    right: -130px;
  }
  .booking__btn {
    margin-left: auto;
  }

  .features__content {
    gap: 46px 30px;
  }
  .features__item {
    width: 413px;
    padding: 37px 20px 45px;
  }
  .features__title {
    padding-left: 100px;
  }
  .features__title:before {
    content: "";
    width: 80px;
  }
  .features__decor {
    left: -160px;
  }

  .contacts__title {
    padding-right: 100px;
  }
  .contacts__title:before {
    width: 80px;
  }
  .contacts__map iframe {
    width: 400px;
    height: 350px;
  }
}
@media (max-width: 920px) {
  .title {
    font-size: 32px;
  }

  .hero__inner {
    height: 650px;
  }

  .hero__text {
    margin-bottom: 28px;
    max-width: 530px;
  }

  .carts {
    background: #031923;
    padding-bottom: 50px;
  }

  .carts .swiper-slide-active .carts__img:before {
    top: 5%;
    left: -45%;
  }

  .booking__title {
    padding-right: 100px;
  }
  .booking__title:before {
    width: 90px;
  }
  .booking__decor {
    right: -120px;
  }
  .booking__phantom-title {
    font-size: 50px;
  }
  .booking__content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .booking__box {
    margin-bottom: 20px;
  }
  .booking__btn {
    margin: 0 auto;
  }

  .features__phantom-title {
    font-size: 50px;
  }
  .features__content {
    gap: 25px;
  }
  .features__item {
    width: 312px;
    padding: 30px 15px 25px;
  }
  .features__img {
    width: 85px;
    height: 60px;
    margin-right: 20px;
  }
  .features__img img {
    max-width: 40px;
    max-height: 40px;
  }

  .contacts__inner {
    flex-direction: column;
  }
  .contacts__phantom-title {
    font-size: 40px;
    top: -10px;
  }
  .contacts__content {
    margin-right: 0;
  }
  .contacts__map {
    margin-top: 30px;
    width: 100%;
  }
  .contacts__map iframe {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .carts .swiper-slide-active .carts__img:before {
    top: -3%;
    left: -34%;
    width: 500px;
  }

  .carts__phantom-title {
    font-size: 60px;
  }
  .carts__slide-title {
    font-size: 28px;
  }
  .carts__slide-model {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin: 16px 0;
  }

  .booking {
    padding-bottom: 100px;
  }
  .booking__decor {
    font-size: 14px;
    right: -95px;
  }
  .booking__phantom-title {
    font-size: 34px;
  }
  .booking__title {
    padding-right: 60px;
  }
  .booking__title:before {
    width: 50px;
  }

  .features__title {
    padding-left: 0;
  }
  .features__title:before {
    width: 0;
  }
  .features__phantom-title {
    font-size: 40px;
  }
  .features__decor {
    display: none;
  }

  .contacts__title {
    padding-right: 0;
  }
  .contacts__title:before {
    width: 0;
  }
  .contacts__decor {
    display: none;
  }
}
@media (max-width: 680px) {
  .carts__title {
    padding-left: 100px;
  }
  .carts__title:before {
    width: 85px;
  }
  .carts__img img {
    width: 300px;
    height: 300px;
  }
  .carts__slide {
    height: 500px;
  }

  .carts .swiper-slide-active .carts__img:before {
    top: 10%;
    left: 14%;
    width: 420px;
  }

  .carts .swiper-slide-active .carts__img img {
    transform: scale(1);
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .booking__phantom-title {
    font-size: 28px;
  }

  .features__content {
    gap: 20px;
  }
  .features__item {
    width: 250px;
    padding: 20px 15px 15px;
    height: 200px;
  }
  .features__img {
    width: 80px;
    height: 55px;
    margin-right: 15px;
  }
  .features__img img {
    max-width: 35px;
    max-height: 35px;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 24px;
  }

  .logo {
    width: 170px;
  }

  .hero__inner {
    height: 480px;
  }
  .hero__btn {
    margin-bottom: 25px;
  }

  .btn {
    height: 38px;
    font-size: 20px;
  }

  .carts,
.booking {
    padding-bottom: 50px;
  }
  .carts__title,
.booking__title {
    padding-left: 0;
  }
  .carts__title:before,
.booking__title:before {
    width: 0;
  }
  .carts__decor,
.booking__decor {
    display: none;
  }

  .booking__inner {
    margin-bottom: 20px;
  }
  .booking__title {
    padding-right: 0;
  }
  .booking__num {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .features__item {
    width: 100%;
    min-height: 100px;
    height: 100%;
  }
  .features__img {
    margin-right: 25px;
  }

  .contacts__btn {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 130px;
  }

  .header {
    height: 75px;
  }

  .carts .swiper-slide-active .carts__img:before {
    top: 17%;
    left: 20%;
    width: 300px;
  }

  .carts__slide {
    height: 530px;
  }
  .carts__phantom-title {
    font-size: 40px;
  }

  .booking__phantom-title {
    font-size: 22px;
  }
  .booking__text p + p {
    margin-top: 15px;
  }

  .features {
    padding-bottom: 50px;
  }
  .features__title {
    font-size: 22px;
  }
  .features__phantom-title {
    font-size: 22px;
  }

  .contacts__map iframe {
    height: 200px;
  }
}
@media (max-width: 360px) {
  .carts .swiper-slide-active .carts__img:before {
    top: 17%;
    left: 8%;
    width: 280px;
  }

  .carts .swiper-slide-active .carts__img img {
    height: 250px;
  }

  .carts,
.booking {
    padding-bottom: 30px;
  }

  .booking__title {
    font-size: 22px;
  }
  .booking__phantom-title {
    font-size: 18px;
  }

  .contacts__phantom-title {
    font-size: 22px;
    top: 0;
  }
  .contacts__info {
    margin-bottom: 25px;
  }
}
