/* BURGER MENU STYLES */
.no-scroll {
	overflow-y: hidden;
}

/* IF HEADER FIXED */
.header {
	// position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.3s ease-out;
	z-index: 14;

	/* ACTIVE HEADER STYLE */
	&--active {
		transition: all 0.3s ease-out;

		.header__logo {
			transition: all 0.3s ease-out;
		}
	}
}

/* BTN NAV  STYLES*/
.nav-btn {
	position: relative;
	z-index: 14;
	display: none;
	height: 30px;
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
	border: none;
}

.nav-btn-icon {
	position: relative;
	display: block;

	background-color: #fff;
	width: 30px;
	height: 3px;
	border-radius: 20px;
	transition: all .3 ease-out;

	&::before,
	&::after {
		position: absolute;
		content: "";
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #fff;
		border-radius: 10px;
		transition: transform 0.3s ease-in;
	}

	&::before {
		top: -7px;
	}

	&::after {
		bottom: -7px;
	}
}





/* NAv Close */
.nav-btn-close .nav-btn-icon {
	background-color: transparent;

	&::before {
		transform: rotate(-45deg);
		top: 0;
		left: -0px;
	}

	&::after {
		transform: rotate(45deg);
		top: 0;
		left: 0px;
	}
}



/* //BTN NAV  STYLES*/
/* burger menu */
.mobile-nav {
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;

	max-width: 100%;
	max-height: 0;
	width: 100%;
	height: 100%;
	padding: 40px 15px 50px;
	background-color: #031923;
	overflow: hidden;
	overflow-y: scroll;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: max-height 0.4s ease-out;
}

.mobile-nav .mobile-nav__item ul li {
	list-style-type: none;
	margin: 0;
}

.mobile-nav__item ul li a {
	display: inline-block;
	margin-bottom: 30px;
	font-size: 26px;
	text-decoration: none;
	// text-transform: uppercase;
	color: #fff;
	transition: color 0.3s ease-out;

	svg {
		fill: #fff;
	}
}

.mobile-nav {
	&__item {
		ul {
			text-align: center;

			// li .dropdown
			//dropdown-content (block)
			li.dropdown>.dropdown-content {
				li {
					border: none;
				}
			}
		}
	}
}

.mobile-nav__item ul>li>a:hover {
	// color: #ffffff;
}

@media (max-width: 1380px) {
	.header__list {
		display: none;
	}

	.nav-btn {
		display: block;
		top: 40px;
	}

	.mobile-nav-active {
		display: flex;
		max-height: 100%;
		visibility: visible;
		justify-content: center;
		padding-top: 100px;
		opacity: 1;
		pointer-events: auto;
	}
}